@import "@/scss/helpers.scss";

.qrIcon {
  height: 18px;
  width: 18px;
}
.dropdownContent {
  right: 0;
}
.dropdown {
  width: auto;
}
.textCenter {
  text-align: center;
  max-width: 183px;
  cursor: default;
}

.qrContainer {
  padding: 12px 4px 4px;
  .qrCodeBox {
    height: 125px;
    width: 125px;
  }
}
